{{>partial_header}}
package main

import (
	"log"
	"go.uber.org/fx"

	{{packageName}} "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/{{sourceFolder}}"
)




func main() {
	addrs := ":8080"
	app := fx.New(
		{{packageName}}.Module,
		fx.Invoke(func(server *{{packageName}}.Server) error {
			go server.Run(addrs)
			return nil
		}),
	)
	app.Run()
}
